@model MyResumeWebSite.Models.EntityFramework.User
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddUser</h2>

<@*form action="AddUser" method="post">
    <div class="form-group">
        <label>Departman Adını Giriniz</label>
        <input type="text" name="Ad" class="form-control" />
    </div>
    <a href="/Departman/Index/" class="btn btn-warning">Geri Dön</a>
    <button type="submit" class="btn btn-primary">Ekle</button>

</form>*@
