<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    @Html.Partial("_NavBar")


    <div class="container">

        @RenderBody()

    </div>




    <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>
