<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin Panel</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/User/Index">Personel Information</a></li>
            <li><a href="/SocialMedia/Index">Social Media</a></li>
            <li><a href="/Education/Index">Education</a></li>
            <li><a href="/Courses/Index">Courses</a></li>
            <li><a href="/ProgramKnowledge/Index">Program Knowlage</a></li>
            <li><a href="#">Work Experiance</a></li>
            <li><a href="#">Projects</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Kayıt Ol</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Giriş</a></li>
        </ul>
    </div>
</nav> 